//color variables
$white: #ffffff;
$snow: #f9f9f9;
$red: #ff0000;
$lightpink: #F4B7C3;
$darkgoldenrod: #DA8201;
$mediumslateblue: #8874EE;
$mediumseagreen: #2AB27B;
$lightgrey: #f0f0f0;
$mediumgrey: #666666;
$darkteal: #576871;
$darkgrey: #333;