//List of variables

$font-family: 'omnes-pro', 'Open Sans', sans-serif;

//Font sizes
$font-size: 16px;                            //set base font size
$font-size-base: 1rem;                       //~16px

$font-size-xxs: $font-size-base * 0.75;      //~12px
$font-size-lg:  $font-size-base * 1.375;     //~22px
$font-size-xl:  $font-size-base * 1.5;       //~24px
$font-size-xxl: $font-size-base * 1.75;      //~28px