/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-submenu
 *= require bootstrap-glyphicons
 *= require bootstrap-select
 *= require bootstrap-social
 *= require_self
 *= require jquery-ui
 *= require jquery-ui.theme.min

 *= require sweetalert2
 *= require font-awesome
 */
@import 'variables';
@import 'colors';
@import 'mixins';

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

.clearfix:after {
  clear:both;
  font-size: 0;
  height: 0;
}

.clear {
  clear: both;
}

html, body {
  width: auto !important;
  height: 100%;
  font-size: $font-size;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: $font-family;
  background-color: $white;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  @media only screen and (max-width: 767px) {
    padding-top: 0px;
  }
  #container {
    width: 1000px;
    margin: auto;
    #header {
      #topMenu {
        background: #CCCCCC;
        margin: auto;
        height: 70px;
        padding: 10px;
        border-bottom: 2px solid;
        font: small-caps 40px/40px "Times New Roman", serif;
        font-weight: bold;
        color: #282;
        text-align: center;
        #title {
          float: left;
        }
        #login {
          float: right;
          font-size: $font-size-lg;
        }
      }
    }
    #columns {
      background: $lightgrey;
      width: 1000px;
      margin: auto;
      #main {
        float: right;
        margin-left: 10em;
        padding: 1em;
        background: white;
      }
      #side {
        float: left;
        padding: 1em 2em;
        width: 30%;
        ul {
          padding: 0;
          li {
            list-style: none;
            a {
              text-decoration: none;
              font-size: $font-size-lg;
            }
          }
        }
      }
    }
  }
}


#notice {
  color : #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font : bold smaller sans-serif;
}

