/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-submenu
 *= require bootstrap-glyphicons
 *= require bootstrap-select
 *= require bootstrap-social
 *= require_self
 *= require jquery-ui
 *= require jquery-ui.theme.min
 *= require jquery-ui-slider-pips
 *= require sweetalert2.min
 *= require font
 *= require home
 *= require carts
 *= require home
 *= require line_items
 *= require products
 *= require footer
 *= require edit
 *= require show
 */
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'font-awesome';

.row {
  margin-left: 0;
  margin-right: 0;
}

#login {
  font-size: $font-size-lg;
}

img {
  border: 1px solid lightgrey;
}

.btn {
  border-radius: 8px;
}

.secrete {
  width: 1px !important;
  height: 1px !important;
  opacity: 0;
}

input#user_email {
  width: 245px;
}

#main {
  margin: auto;
  padding: 1em;
  background: white;
  min-height: 640px;
  h1 {
    a.btn-success {
      float: left;
    }
  }
  .paginate {
    padding-bottom: 11px;
    .pagination {
      margin: 4px 0;
    }
  }
}

#notice {
  color: #000 !important;
  border: 2px solid green;
  border-radius: 3px;
  padding: 20px;
  margin: 17px auto;
  text-align: center;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
  width: 200px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}


.store-description {
  p {
    margin: 0 auto;
  }
}

.new_user {
  .actions {
    input {
      @include buttons($mediumseagreen);
      width: auto;
      padding: 0 8px;
    }
  }
}

.button_to {
  input {
    @include buttons($mediumseagreen);
    &:hover{
      font-weight: bold;
      font-size: 15px;
    }
  }
}

.alert_wrapper {
  max-width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 2px;
  .alert {
    padding: 2px;
    margin-bottom: 2px;
    border: 2px solid green;
    border-radius: 8px;
    .close {
      padding-right: 3px;
    }
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  margin: 5px auto;
}

.depot_form{
  fieldset{
    background-color: #EFEFEF;
    legend{
      color: #dff0d8;
      background: #141;
    }
  }
  form{
    label{
      float: left;
      display: block;
    }
    br{
      display: none;
    }
  }
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  //margin-bottom: 20px;
  background-color: #f0f0f0;
  margin: 20px auto;
  h4 {
    background-color: red;
    margin-top: 0;
    padding-left: 8px;
  }
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }
  ul {
    text-align: left;
    padding-left: 50px;
  }
}