/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-submenu
 *= require bootstrap-glyphicons
 *= require bootstrap-select
 *= require bootstrap-social
 *= require_self
 *= require jquery-ui
 *= require jquery-ui.theme.min
 *= require jquery-ui-slider-pips
 *= require sweetalert2.min
 *= require font
 *= require home
 *= require carts
 *= require home
 *= require line_items
 *= require products
 *= require store
 *= require footer
 *= require edit
 *= require show
 */
@import 'variables';
@import 'colors';
@import 'mixins';
@import 'font-awesome';

.row{
  margin-left: 0;
  margin-right: 0;
}

#login {
  font-size: $font-size-lg;
}

img {
  border: 1px solid lightgrey;
}

.btn {
  border-radius: 8px;
}

.secrete {
  width: 1px !important;
  height: 1px !important;
  opacity: 0;
}

#main {
  margin: auto;
  padding: 1em;
  background: white;
  h1{
    a.btn-success{
      float: left;
    }
  }
  table{
    tr{
      border: 1px solid $mediumlightgrey;
      .product-img {
        border-right: solid;
        border-width: 1px;
        width: 200px;
        height: 200px;
        background-color: #e6e6e6;
        img {
          width: 140px;
          height: auto;
          max-height: 190px;
        }

      }
      .list_description {
        padding: 5px;
        position: relative;
      }
      .product-title {
        position: absolute;
        top: 10px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        left: 20px;
        margin-bottom: 20px;
      }

      .product-description{
        text-align: left;
        font-size: 1.5rem;
        padding-top: 20px;
      }

      .product-functions{
        position: absolute;
        bottom: 10px;
        right: 20px;
      }
    }
  }
  .paginate {
    padding-bottom: 11px;
    .pagination {
      margin: 4px 0;
    }
  }
}

#notice {
  color : #000 !important;
  border: 2px solid green;
  border-radius: 3px;
  padding: 20px;
  margin: 17px auto;
  text-align: center;
  background-color: #f0f0f0;
  font : bold smaller sans-serif;
  width: 200px;

}

.new_user {
  .actions {
    input {
      @include buttons($mediumseagreen);
      width: auto;
      padding: 0 8px;
    }
  }
}

.button_to {
  input {
    @include buttons($mediumseagreen);
  }
}

.alert_wrapper {
  max-width: 40%;
  text-align: center;
  margin: 0 auto;
  padding: 2px;
  .alert {
    padding: 2px;
    margin-bottom: 2px;
    border: 2px solid green;
    border-radius: 8px;
    .close {
      padding-right: 3px;
    }
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
