@import 'colors';

table.new-template {
  td {
    position: initial;
    height: 110px;
    text-align: left;
    &:first-child {
      border-right: 1px solid #C6C6C6;
    }
    input, textarea {
      width: 100%;
      font-size: 14px;
      &.update_product {
        width: 50%;
      }
    }
    strong {
      font-size: 20px;
    }
  }
  &.order{
    input.btn {
      width: 70%;
    }
  }
}

.upload-f {
  text-align: left;
}

input#product_thumbnail {
  text-align: left;
  background-color: white;
  border: 2px solid transparent;
}

input.remote_url {
  width: 97%;
  font-size: medium;
  color: grey;
}

table {
  tr {
    border: 1px solid $mediumlightgrey;
    .product-img {
      border-right: solid;
      border-width: 1px;
      width: 200px;
      height: 200px;
      background-color: #e6e6e6;
      div {
        margin: 5px;
        font-size: 18px !important;
      }
      img {
        width: 140px;
        height: auto;
        max-height: 190px;
      }
    }
    .list_description {
      padding: 10px;
      .product-title {
        text-align: left;
        font-weight: bold;
        margin-bottom: 6px;
        label {
          min-width: 120px;
          font-size: 140%;
        }
      }
      #product-title {
        input {
          width: 100%;
          font-size: 110%;
          padding-left: 10px;
        }
      }
      .product-description {
        text-align: left;
        font-weight: bold;
        margin: 10px 0;
        font-size: 140%;
      }
      #product-description {
        textarea {
          overflow: hidden;
          width: 100%;
        }
      }
      .price {
        text-align: left;
        font-size: 140%;
        margin-top: 15px;
      }
      .price_field {
        input {
          width: 100%;
        }
      }
    }
  }
}

table.order-table-styles{
  thead{
    tr{
      th{
        text-align: center;
      }
    }
  }
}