@font-face {
  font-family: 'NavyQueenLT';
  src: font-url('NavyQueenLT.eot');
  src: font-url('NavyQueenLT.woff') format('woff'),
       font-url('NavyQueenLT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



