/*FOOTER */

footer {
  background-color: #2d262b;
  position: relative;
  top: 153px;
}

.block-f {
  display: inline-block;
  padding: 0px 3px 4px 15px;
  vertical-align: top;
  text-align: left;
  color: white;
  ul {
    padding-bottom: 15px;
    li {
      list-style-type:none;
      padding-bottom: 7px;
      a {
        color: white;
      }
    }
  }
}

.m-bottom {
  margin-bottom: 20px;
}

.m-top {
  margin-top: 20px;
}

.contacts {
  margin: 15px 0;
}

.blue,
.phone1,
.phone2 {
  float: left;
}

.blue {
  color: blue;
  padding: 3px 20px 10px 0;
}

.phone1 {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 3px 20px;
}

.phone2 {
  padding: 3px 0 3px 20px;
}

p.copyright {
  color: white;
  text-align: center;
}
