@import 'colors';
@import 'mixins';

/* RESET */
* {
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  text-decoration: none;
}

hr {
  margin: 3px 0 2px 0;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

.clearfix:after {
  clear: both;
  font-size: 0;
  height: 0;
}

.clear {
  clear: both;
}

/*GRADIENT VERTICAL*/
.line-v {
  width: 1px;
  height: 81px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/*GRADIENT HORIZONTAL*/
.line-h {
  height: 1px;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.margin-bottom {
  margin-bottom: 36px;
}

body {
  background-color: lighten($mediumgrey, 40%);
  background-image: asset-data-url('background-1.png');
  font-family: Arial, Helvetica, sans-serif;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.black {
  background-color: black;
}

.alert {
  img {
    border-color: white;
  }
}

.color1 {
  background-color: #1AB7C1;
}

.white {
  background-color: white;
}

.header {
  height: 83px;
}

/*header-1*/

.container {
  width: 1170px;
}

.first-nav li {
  position: relative;
}

/*INVERTED gradient*/

.first-nav li:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  right: 1px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.first-nav li:last-child:after {
  display: none;
}

.cabinet a,
.first-nav li a {
  color: white !important;
  font-weight: bold;
  font-size: 20px;
}

.first-nav li a:hover,

a:hover {
  color: #f5d602 !important;
  cursor: pointer;
}

.cabinet {
  margin: 10px 3px;
  float: right;
}

/*header-2*/

.basket {
  @include basket(asset-data-url('empty_cart44.png'))
}

.google-pic {
  @include google-pic(asset-data-url('google.png'));
  height: 50px;
  width: 50px;
  margin-left: 25px;
}

.basket1 {
  @include basket(asset-data-url('full_cart44.png'))
}

.form-container {
  width: 380px;
  height: 40px;
  margin: 20px 0 0 15px;
}

.dropdown {
  width: 165px;
  height: 34px;
  margin-top: 20px;
  background-color: black;
  border-radius: 4px;
  margin-right: 5px;
}

.dropdown {
  .dropdown-toggle {
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 7px 3px 0 13px;
  }
}

.glyphicon-chevron-down {
  padding-left: 6px;
  top: 4px;
}

.bold {
  font-weight: bold;
}

h4 {
  margin-top: 1px;
  color: black;
  text-align: left;
}

.phones {
  margin-top: 17px;
  padding: 1px 0 0 1px;
  font-size: 12px;
  width: 100px;
  height: 30px;
  color: black;
  text-align: left;
}

.glyphicon-earphone {
  margin-top: 17px;
  font-size: 35px;
  width: 40px;
  height: 40px;
}

.logo {
  font-family: 'NavyQueenLT';
  font-size: 18px;
  color: black;
  margin-top: 7px;
}

.p-logo {
  color: black;
  margin-top: -11px;
  margin-left: 52px;
  font-size: 10px;
  height: 15px;
}

.black-text {
  li {
    a {
      margin-top: 1px;
      font-size: 12px;
      color: black;
    }
  }
}

ul.second-nav {
  width: 1200px;
}

/*WRAPPER*/

.wrapper {
  position: relative;
  top: 143px;
  background-color: $snow;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: -3px 0px 10px 0px #333, 3px 0px 10px 0px #333;
  #main {
    h1 {
      background-color: lighten($mediumgrey, 50%);
      height: 45px;
    }
    table {
      margin: 0 auto;
    }
    .entry {
      width: 48%;
      padding: 5px;
      float: left;
      border: solid;
      border-width: 1px;
      margin: 5px;
      border-radius: 2px;
      margin: 0 10px 35px;
      p {
        width: 90%;
        height: 111px;
      }
    }
  }
}

h3 {
  font-weight: bold;
}

.price {
  font-size: 150%;
}

